/*GENERAL BODY STYLING AND BACKGROUND IMAGE*/
body{
	background: url("../album-covers/247.jpg");
	background-position: center;
	overflow: hidden;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
	color: white;
}
/*HEADER SECTION STARTS HERE*/
header{
	height: 60px;
	width: 100%;
	position: fixed;
	top: 0;
	/*HEADER SECTION FONT STYLING*/
	font-family: 'Acme', sans-serif;  
}
.header-div{
	margin:0 4% 0 4%;
	display: flex;
	height: 100%;
}
/*SEARCH BAR STYLING*/
.header-div input{
	padding: 5px 5px 5px 35px;
	height: 30px;
	width: 300px;
	box-sizing: border-box;
	font-family:inherit;
  	font-size: 14px;
  	outline: none;
}
.header-box1{
	flex: 1;
	display: flex;
	align-items: center;
}
.header-box1 p{
	text-shadow: 0 0 5px #fff, 
				 0 0 10px #fff, 
				 0 0 15px #0073e6, 
				 0 0 20px #0073e6, 
				 0 0 25px #0073e6, 
				 0 0 30px #0073e6, 
				 0 0 35px #0073e6;
  animation: blinker 1s linear infinite;
}
/*GUITAR IMAGE IN HEADER SECTION STYLING*/
.header-box1 img{
	margin-left: 20px;
	margin-right: 20px;
	animation-name: rotating;
	animation-timing-function: ease-in-out;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
.header-box2{
	flex: 1;
}
.header-box3{
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-box4{
	flex: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*SEARCH BOX FAVICON ICON STYLING*/
.header-box4 i{
	position: absolute;
	padding: 5px 10px 5px 10px;
	margin-top: 2px; 
	color: blue;
	height: 28px;
	width: 30px;
}
.header-box5{
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.header-box5 img{
	margin-bottom: 4px;
	margin-right: 20px;
}
.input-text{
	border-radius: 15px;
	border:0;
}
/*HEADER ENDS HERE*/
/*CONTAINER DIV STARTS*/
/*GENERAL MARGIN AND GRID STYLING */
.container{
	height: 100vh;
	margin:60px 3% 0 3%;
	display: grid;
	min-height: 0;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 2.5fr 3fr;
	grid-template-areas: 
	"main aside"
	"main-lower aside-lower";
}
/*MAIN DIC STYLING*/
main{
	grid-area: main;
	height: 300px;
	background-color: #001845;
	display: flex;
	padding-right:30px;
 	box-shadow: 0 8px 8px -6px #001845;
	margin-bottom: 10px;
	margin-right: 15px;
}
/*MAIN HEADING */
main h3{
	font-weight: 100;
}
/*MAIN DIV IMAGE*/
#main-img{
	vertical-align: top;
	display: flex;
	align-items: center;
	margin-right: 20px;
}
#main-content{
	display: flex;
	flex-direction: column;
	padding-top: 20px;
}
#main-content-para1{
	margin: 0;
	color: white;
	font-size: 12px;
}
#main-content-para2{
	margin: 10px 0;
	color: white;
	font-size: 17px;
}
#main-content h3{
	font-family: 'Monoton', cursive;
	font-size: 50px;
	margin: 0;
	color: white;
}
/*BUTTON INSIDE MAIN DIV*/
button{
	width: 100px;
	height: 40px;
	outline: none;
	border: none;
	text-align: center;
  	text-transform: uppercase;
  	transition: 0.5s;
  	background-size: 200% auto;
  	color: white;
  	box-shadow: 0 0 20px #eee;
  	border-radius: 10px;
  	background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}
button:hover{
	background-position: right center;
	cursor: pointer;
}
/*MAIN DIV ENDS HERE*/
/*MAIN-LOWER DIV STARTS HERE*/
main-lower{
	grid-area: main-lower;
	display: flex;
	flex-direction: column;
	margin-right: 15px;
	margin-top: 20px;
	overflow-y: scroll;
	height: 100%;
	padding-bottom: 100px;
}
/*HIDING SCROLLBARS*/
.aside-list::-webkit-scrollbar {
    display: none;
}
aside-lower::-webkit-scrollbar {
    display: none;
}
main-lower::-webkit-scrollbar {
    display: none;
}
section::-webkit-scrollbar {
    display: none;
}
/*LIST CLASS INSIDE MAIN-LOWER STYLING*/
main-lower .list{
	color: white;
	height: 60px;
	width: 100%;
	background-color: #001845;
	margin-bottom: 10px;
}
sect{
	padding-bottom: 60px;
}
.list{
	display: flex;
}
.list .img{
	flex:0.5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 20px;
}
.list .para{
	flex: 3;
	display: flex;
	padding-left: 10px;
	flex-direction: column;
	justify-content: center;
}
.para p{
	margin: 0;
}
.list .space{
	flex: 2;
}
.list .heart-icon{
	color: white;
	flex:0.5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
main-lower div img{
	height: 50px;
	width: 50px;
}
/*MAIN LOWER ENDS NOW ASIDE STYLING STARTS*/
aside{
	color: white;
	grid-area: aside;
	margin-bottom: 10px;
	overflow: hidden;
	padding-bottom: 50px;
}
.aside-list{
	overflow: scroll;
	height: 100%;
}
.aside-list div{
	height: 80px;
	margin-bottom: 15px;
}
aside img{
	float: left;
	width: 80px;
	height: 80px;
}
/*ASIDE SONG NAME*/
aside div h5{
  	margin-bottom: 2px;
    margin-left: 7px;
    font-size: 0.8rem;
}
aside div span{
	float: right;
	margin-right: 10px;
}
aside div p{
    font-size: 0.75rem;
    margin-top: 2px;
    margin-left: 7px;
}
.aside-div{
	display: inline-block;
	margin: 0;
}
/*ASIDE SECTION HEADING*/
.heading{
	height: 50px;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}
/*ASIDE SECTION ENDS*/
/*ASIDE-LOWER STARTS HERE*/
aside-lower{
	padding-bottom: 50px;
	grid-area: aside-lower;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
section{
	overflow-y: scroll;
	height: 100%;
	padding-bottom: 60px;
}
/*DIRECT DIVS INSIDE SECTION TAG STYLING*/
section > div{
	color: white;
	height: 60px;
	width: 100%;
	background-color: #001845;
	margin-bottom: 10px;
	
}
aside-lower p{
	font-size: 0.75rem;
}
aside-lower div img{
	height: 50px;
	width: 50px;
}
aside-lower .heart-icon{
	margin-right: 10px;
}
/*ASIDE-LOWER ENDS HERE*/
/*FOOTER STYLING STARTS*/
footer{
	height: 60px;
	width: 100%;
	background-color: #212529;
	position: fixed;
	z-index: 6;
	left: 0;
	bottom:0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	flex-wrap: nowrap;
}
.active-song-description {
	height: 90%;
	width: 25%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
/* SONG IMAGE STYLING */
#song-image {
	width: 50px;
	height: 50px;
	min-width: 50px;
	min-height: 50px;
}
#song-image img {
	width: 100%;
	height: 100%;
	margin-top: 3px;
}
/* ICONS STYLING */
.heart-and-ban-icon {
	height: 100%;
	padding-top: 4%;
}
.song-desc {
	margin-right: 1%;
	margin-left: 1%;
}
.song-desc div:nth-child(1) {
	font-size: 14px;
}
.song-desc div:nth-child(2) {
	font-size: 12px;
}
/*PLAYER PART*/
.player {
	width: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
}
/* SONG TOGGLER */
.controls {
	width: 40%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
}
#slider {
	width: 100%;
	font-size: 12px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	margin-top: 5px;
}
.time {
	margin: 0px 10px;
}
.slidecontainer {
	width: 100%;
}
/* AUDIO STYLING */
.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.5;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}
.slider:hover {
	opacity: 1;
}
/* DIMENSIONS OF SLIDER */
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background: #007bff;
	cursor: pointer;
}
.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #4caf50;
	cursor: pointer;
}
/*SOME EXTRA STYLING*/
.extras {
	width: 20%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
/*FOOTER ENDS HERE*/

/*SHADOW CLASS TO GIVE GLOW EFFECT*/
.shadow{
	text-shadow: 0 0 5px #fff, 
				 0 0 10px #fff, 
				 0 0 15px #0073e6, 
				 0 0 20px #0073e6, 
				 0 0 25px #0073e6, 
				 0 0 30px #0073e6, 
				 0 0 35px #0073e6;
}
/*SETTING FONT-SIZE OF NAME OF SINGER*/
.singer{
	font-size: 12px;
}

/*KEYFRAMES FOR ROTATION AND BLINKING ANIMATION START*/
@keyframes rotating {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
/*KEYFRAMES END*/